@import "variables.css";

#wrapper {
    display: flex;
    width: 1864px;
    height: 923px;
}

#footer {
    justify-content: start;
    margin-left: 1vh;
    width: 100%;
    height: 5%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

#version {
    font-weight: lighter;
    font-size: 3vh;
}

#background {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    z-index: -10;
}

#main-content {
    align-items: center;
    width: 100%;
    height: 100%;
}

#currencies-place {
    left: 0%;
    top: 0%;
    position: fixed;
    width: 100%;
    height: 10%;
    display: flex;
}

#currencies-place {
    z-index: 100;
    pointer-events: none;
    gap: 5vh;
}

#currencies-place > * {
    font-size: 3vh;
}

#cube-area {
    width: 400px;
    height: 900px;
}

#cube-info-div {
    width: 400px;
    height: 150px;
}

#cube-info-text {
    font-size: 25px;
    line-height: 40px;
}

#prestige-area {
    transform: translateX(-125%);
}

#light-area {
    transform: translateX(125%);
}

#minicube-area {
    transform: translateX(225%);
}

#minicube-info {
    font-size: 30px;
    line-height: 50px;
}

#minicube-place {
    position: relative;
    width: 300px;
    aspect-ratio: 1 / 1;
    background-color: rgb(25, 25, 25);
    border: none;
}

#master-area {
    justify-content: center;
    flex-direction: row;
    transform: translate(-40%, 150%);
    height: 500px;
    width: 1000px;
}
#master-area:before { content:none; }

#master-button {
    border-color: red;
}

#master-button-text {
    font-size: 19px;
}

#master-button:active > #master-button-text:not(.layer-button-text-cannot) {
    color: rgb(255, 50, 50);
}

#master-milestones {
    position: relative;
}

#master-milestones > * {
    position: absolute;
}

#master-milestones-info {
    top: 0%;
    font-size: 22px;
}

