@import "variables.css";

#wrapper {
    display: flex;
    width: 1864px;
    height: 923px;
}

#background {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    z-index: -10;
}

#main-content {
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 100px;
}

#currencies-place {
    left: 0%;
    top: 0%;
    position: fixed;
    width: 100%;
    height: 10%;
    display: flex;
}

#currencies-place {
    z-index: 100;
}

#stage {
    z-index: 100;
    font-size: 3vh;
}

#cube-area {
    width: 400px;
    height: 900px;
}

#cube-info-div {
    width: 400px;
    height: 150px;
}

#cube-info-text {
    font-size: 25px;
    line-height: 40px;
}

#prestige-area {
    justify-content: start;
    gap: 50px;
    transform: translateX(-125%);
}
#prestige-area::before { content: ""; height: 37px; }

#light-area {
    justify-content: start;
    transform: translateX(125%);
}
#light-area::before { content: ""; height: 37px; }