@import "variables.css";

#wrapper {
    display: flex;
    position: relative;
    width: 1864px;
    height: 890px;
    overflow: visible;
}

.wrapper-when-intro {
    width: 100% !important;
    height: 100% !important;
}

#footer {
    flex-direction: column;
    justify-content: end;
    align-items: start;
    vertical-align: bottom;
    width: 100%;
    height: 12.5%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
}

#footer *, #footer-left * { flex-shrink: 0; }

#footer-left {
    flex-direction: column;
    justify-content: end;
    width: 10vh;
    height: 100%;
    gap: .5vh;
    pointer-events: none;
}

#settings-button {
    width: 5vh;
    height: 5vh;
    background-color: transparent;
    border: none;
    flex-direction: column;
    pointer-events: all;
    overflow: visible;
}

#settings-icon {
    max-width: 5vh;
    min-width: 5vh;
    aspect-ratio: 1 / 1;
    filter: invert(1);
    transition: opacity 100ms;
    pointer-events: none;
}

#settings-button:hover > #settings-icon {
    opacity: .75;
}

#footer-line {
    background-color: white;
    width: 5vh;
    height: .35vh;
}

#version {
    margin-top: .5em;
    line-height: 1px;
    font-size: 3vh;
    height: 0;
}

#background {
    position: fixed;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    background-image: url("../images/background.webp");
    background-repeat: repeat;
    z-index: -5;
    pointer-events: none;
    transform: translate3d(0,0,0px); 
    backface-visibility: hidden;
    perspective: 1000;
}

#background:not(.body-collapse-realm):after {
    content: '';
    display: flex;
    height: 100%;
    position: fixed;
    width: 100%;
    top: 0%;
    left: 0%;
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0, 0.5);
}

#main-content {
    align-items: center;
    width: 100%;
    height: 100%;
    
    position: relative;
    display: none;
}

#frame, #unlocked {
    position: fixed;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: none;
    margin: 0;
    padding: 0;
}

#frame > * {
    position: absolute;
}

#frame-text {
    font-size: 10vh;
}

#unlocked {
    width: 45vmin;
    height: 15vmin;
    left: auto;
    top: auto;
    flex-direction: column;
}

#unlocked-info {
    font-size: 1.5em;
}

#currencies-place {
    opacity: 0;
    left: 0%;
    top: 0%;
    position: fixed;
    width: 100%;
    height: 10%;
    display: flex;
    z-index: 1000;
    pointer-events: none;
    gap: 5vh;
}

#currencies-place > * {
    font-size: 3vmin;
}

#cube-area {
    width: 400px;
    height: 900px;
    transform: translateX(0px);
}

#cube-info-div {
    width: 400px;
    height: 150px;
}

#cube-info-text,
#giantcube-info-text {
    font-size: 25px;
    line-height: 40px;
}

#prestige-area {
    transform: translateX(-625px);
}

#light-area {
    transform: translateX(625px);
}

#minicube-area {
    transform: translateX(1125px);
}

#minicube-info {
    font-size: 26px;
    line-height: 25px;
    width: 90%;
}

#minicube-place {
    position: relative;
    width: 300px;
    aspect-ratio: 1 / 1;
    background-color: rgb(25, 25, 25);
    border: none;
}

#master-area {
    justify-content: center;
    flex-direction: row;
    transform: translate(-400px, 750px);
    height: 500px;
    width: 1000px;
}

#master-area.rebuilt {
    transform: translateX(625px);
    flex-direction: column;
    height: 900px;
    width: 500px;
}

#master-button {
    border-color: red;
}

#master-button-text {
    font-size: 19px;
}

#master-button:active > #master-button-text:not(.layer-button-text-cannot) {
    color: rgb(255, 50, 50);
}

#master-button:hover {
    background-color: rgb(25, 0, 0);
}

#master-milestones {
    position: relative;
}

#master-milestones > * {
    position: absolute;
}

#master-milestones-info {
    top: 0%;
    font-size: 22px;
}

#giantcube-area {
    height: 600px;
    width: 1000px;
    transform: translate(-400px, 1248px);
}

#settings {
    width: 30vh;
    aspect-ratio: 1 / 1.75;
    position: fixed;
    transform: translate(70%, -10%);
    border-width: .35vh;
    overflow-y: auto;
    pointer-events: all;
    align-items: center;
    flex-direction: column;
    justify-content: start;
    padding-top: 1vh;
    padding-bottom: 1vh;
    gap: 1vh;
    border-radius: 1vh;
}

#settings::-webkit-scrollbar {
    border: none;
    width: 1vh;
    background-color: transparent;
}

#reset {
    width: 20vh;
    border-color: red;
}

#reset > * {
    color: red;
}

#reset:hover {
    background-color: rgb(40, 0, 0);
}

#reset:active {
    background-color: rgb(134, 0, 0);
}

#reset-cube {
    width: 20vh;
    border-color: cyan;
}

#reset-cube > * {
    color: cyan;
}

#reset-cube:hover {
    background-color: rgb(0, 40, 40);
}

#reset-cube:active {
    background-color: rgb(0, 134, 134);
}

#change-star-count {
    width: 20vh;
}

#links {
    margin-top: auto;
}

#discord, #roblox {
    gap: 1vh;
}

#discord-icon, #roblox-icon {
    object-fit: scale-down;
    height: 2.5vh;
    width: initial;
}

#giantcube-info-div {
    width: 400px;
    height: 150px;
}

#giantcube-info-text {
    text-wrap: nowrap;
}

#giga-area {
    transform: translate(325px, 1125px);
}

#neon-area {
    transform: translate(800px, 1125px);
    width: 1000px;
    height: 450px;
}

#neon-info-div {
    position: relative;
    height: 400px;
    aspect-ratio:unset;
}

#neon-info {
    font-size: 30px;
    line-height: 44px;
}

#neon-spawn {
    position: absolute;
    width: 90%;
    height: 20%;
    top: 75%;
}

#neon-button-text {
    font-size: 23px;
}

#collapse-layer-area {
    transform: translate(800px, 625px);
}

#collapse-layer-area.galaxy-unlocked {
    transform: none;
    height: fit-content;
    position: static;
    order: 0;
    width: fit-content;
}

#collapse-area-main {
    width: 100%;
    height: fit-content;
    gap: 25px;
}

#rebuild-area-main {
    width: fit-content;
    height: 100%;
    gap: 25px;
}

#collapse-layer-area.when-animation {
    z-index: 11;
}

#collapse-button {
    border-color: rgb(0, 13, 189);
}

#collapse-button:hover {
    background-color: rgb(0, 1.71, 25);
}

#collapse-button-text {
    font-size: 19px;
}

#collapse-button:active > #collapse-button-text:not(.layer-button-text-cannot) {
    color: rgb(38, 0, 255);
}

#portal, #portal-2 {
    position: absolute;
    width: 200px;
    aspect-ratio: 1 / 1;
    border-radius: 100%;
    border: solid 15px rgba(0, 13, 189);
    background: radial-gradient(rgba(0, 0, 0, .25), rgba(0, 13, 189, .25));
    box-shadow: inset 0 0 10px rgba(0, 13, 189, .75), 0 0 10px rgba(0, 13, 189, .75);
}

#portal { transform: translate(1150px, 625px); }
#portal-2 { transform: translate(-625px, 0px); }

#portal:active, #portal-2:active {
    background: radial-gradient(rgba(0, 0, 0, .5), rgba(0, 13, 189, .5));
}

#intro {
    background-attachment: fixed;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-image: url('../images/introBg.jpg');
    background-size: 495px;
    z-index: 8;
    left: 0%;
    top: 0%;
    overflow-y: auto;
    overflow-x: hidden;
    animation-name: intro;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    font-size: 11vmin;
}

#intro::before {
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(0, 0, 0, 1), rgb(0, 0, 0, 1), rgba(0, 0, 0, 0));
    content: '';
    display: flex;
    height: 100%;
    position: fixed;
    width: 100%;
    top: 0%;
    left: 0%;
    margin: 0;
    padding: 0;
    z-index: -999;
}

#intro * {
    font-family: monospace;
}

@keyframes intro {
    0% {
        background-position-x: 0%;
        background-position-y: 0%;
    }
    100% {
        background-position-x: 495px;
        background-position-y: 278.4375px;
    }
}

#title {
    color: white;
    text-shadow: 0 0 10px rgb(150, 150, 150, 1);
    position: absolute;
    top: 0%;
    margin-top: clamp(0px, 5vmin, 50px);
    font-size: 1em;
    margin-bottom: 0px;
    line-height: 5vmin;
    z-index: 2;
}

#title-info {
    text-shadow: 0 0 3px rgb(150, 150, 150, 1);
    font-size: .4em;
    margin-top: 0;
}

#title-info-2 {
    position: absolute;
    font-size: .45em;
}

#play-location {
    position: absolute;
    width: 100%;
    height: clamp(0px, 13.8vmin, 150px);
    bottom: 17.5%;
}

#play-buttons {
    position: absolute;
    top: 80%;
    gap: 4.62vmin clamp(0px, 13.8vmin, 150px);
    flex-flow: row wrap;
    padding-bottom: 25px;
}

#play-with, #play-without {
    top: 50%;
    box-shadow: 0 0 clamp(0px, 4vmin, 25px) clamp(0px, 1.5vmin, 10px) rgb(150, 150, 150, .25), inset 0 0 clamp(0px, 4vmin, 25px) clamp(0px, 1.5vmin, 10px) rgb(150, 150, 150, .25);
    border: clamp(0px, .75vmin, 4px) solid white;
    max-width: 450px;
    width: 50vmin;
    aspect-ratio: 3 / 1;
    font-size: 0.3em;
}

#play-with *, #play-without * {
    color: white;
}

#changelog {
    font-size: 0.15em;
    background-color: black;
    box-shadow: 0 0 clamp(0px, 4vmin, 25px) clamp(0px, 1.5vmin, 10px) rgb(150, 150, 150, .125);
    position: absolute;
    width: clamp(0%, 75vmin, 693px);
    aspect-ratio: 693 / 357;
    border: solid clamp(0px, .9vmin, 5px) white;
}

#changelog-title {
    color: white;
    position: absolute;
    top: 2.5%;
    font-size: 2em;
    margin-top: 0;
}

#changelog-info {
    color: rgb(129, 129, 129);
    position: absolute;
    top: 12.5%;
    margin-top: 0;
}

#changelogs {
    top: 18%;
    left: 5%;
    position: absolute;
    width: 95%;
    height: 82%;
    overflow-x: hidden;
    overflow-y: auto;
    align-items: start;
    justify-content: start;
    padding-left: 5px;
    padding-right: 5px;
    flex-direction: column;
}

#changelogs-after {
    pointer-events: none;
    background: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0, 0) 5% 95%, rgb(0, 0, 0));
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    position: absolute;
    top: 18%;
    left: 5%;
    width: calc(95% - 1.2vw);
    height: 82%;
}

#changelogs * {
    text-align: start;
}

#epilepsy-warning {
  font-size: .1em;
  position: absolute;
  right: 1%;
  width: 10%;
  bottom: 1%;
  background-color: black;
  border: .25vmin white solid;
  padding: 0.5vmin;
}

#epilepsy-warning > div {
  position: absolute;
  right: 0;
  top: 0;
  width: 2vmin;
  height: 2vmin;
  background-color: white;
  border-radius: 100%;
  transform: translate(50%, -50%);
  font-size: 2em;
}

#epilepsy-warning > div > p {
  color: black;
}

#collapse-area {
    width: 1000px;
    gap: 25px;
}

#collapse-milestones-container::-webkit-scrollbar {
    border-left-color: inherit;
}

#collapse-milestones-container::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 0 10px;
}

#cm-1 {
    border-color: rgb(0, 13, 189);
}

#cm-1:hover {
    background-color: rgb(0, 2, 26)
}

#cmr-1 {
    color: rgb(0, 13, 189);
}

#cmi-1 {
    color: rgb(30, 37, 138);
    font-size: .9em;
}

#cm-2 {
    border-color: rgb(0, 140, 255);
}

#cm-2:hover {
    background-color: rgb(0, 19, 35)
}

#cmr-2 {
    color: rgb(0, 140, 255);
}

#cmi-2 {
    color: rgb(0, 129, 189);
    font-size: .9em;
}

#collapse-milestones-info {
    position: absolute;
    top: 5%;
}
#collapse-milestones-container {
    position: absolute;
    top: 30%;
}

#cm-3 {
    border-color: rgb(0, 255, 255);
}

#cm-3:hover {
    background-color: rgb(0, 35, 35)
}

#cmr-3 {
    color: rgb(0, 255, 255);
}

#cmi-3 {
    color: rgb(51, 136, 175);
    font-size: .9em;
}

#cm-4 {
    border-color: rgb(182, 255, 255);
}

#cm-4:hover {
    background-color: rgb(25, 35, 35)
}

#cmr-4 {
    color: rgb(182, 255, 255);
}

#cmi-4 {
    color: rgb(103, 147, 150);
    font-size: .8em;
}

#cm-5 {
    border-color: rgb(255, 255, 255);
}

#cm-5:hover {
    background-color: rgb(35, 35, 35)
}

#cmr-5 {
    color: rgb(255, 255, 255);
}

#cmi-5 {
    color: rgb(153, 153, 153);
    font-size: .9em;
}

#galaxy-area-main {
    transform: translate(685px);
    height: 1000px;
    gap: 25px;
}

#galaxy-button {
    border-color: rgb(140, 0, 255);
}

#galaxy-button-text {
    font-size: 19px;
    color: rgb(74, 0, 134);
}

#galaxy-button:hover {
    background-color: rgb(14, 0, 25);
}

#galaxy-button:active > #galaxy-button-text:not(.layer-button-text-cannot) {
    color: rgb(140, 0, 255);
}

#cm-6 {
    border-color: rgb(140, 0, 255);
}

#cm-6:hover {
    background-color: rgb(19, 0, 35)
}

#cmr-6 {
    color: rgb(140, 0, 255);
}

#cmi-6 {
    color: rgb(74, 0, 134);
}

#cm-7 {
    border-color: rgb(255, 0, 255);
}

#cm-7:hover {
    background-color: rgb(35, 0, 35)
}

#cmr-7 {
    color: rgb(255, 0, 255);
}

#cmi-7 {
    color: rgb(134, 0, 134);
}

#cm-8 {
    border-color: rgb(255, 0, 140);
}

#cm-8:hover {
    background-color: rgb(35, 0, 19)
}

#cmr-8 {
    color: rgb(255, 0, 140);
}

#cmi-8 {
    color: rgb(134, 0, 74);
}

#collapse-area-second {
    gap: 25px;
}

#black-holes-div {
    order: 1;
    position: relative;
    display: flex;
}

#black-hole-info {
    font-size: 1em;
    position: static;
}

#black-hole-button:hover {
    background-color: rgb(25, 6, 0);
}

#black-hole-button:active #black-hole-button-text:not(.layer-button-text-cannot) {
    color: rgb(255, 60, 0) !important;
}

#cm-9 {
    border-color: rgb(255, 0, 0);
}

#cm-9:hover {
    background-color: rgb(35, 0, 0)
}

#cmr-9 {
    color: rgb(255, 0, 0);
}

#cmi-9 {
    color: rgb(134, 0, 0);
}

#rebuild-button {
    border: 2px solid transparent;
    background: 
        linear-gradient(to right, rgb(0, 53, 28), black 10% 90%, rgb(23, 0, 53)), 
        linear-gradient(to right, rgb(0, 255, 136), rgb(111, 0, 255)); 
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
}

#rebuild-button:hover {
    background: 
        linear-gradient(to right, rgb(0, 70, 37), rgb(25, 25, 25) 10% 90%, rgb(30, 0, 70)),
        linear-gradient(to right, rgb(0, 255, 136), rgb(111, 0, 255));
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
}

#rebuild-portal, #rebuild-portal-2, #rebuild-portal-3 {
    position: absolute;
    width: 250px;
    aspect-ratio: 1 / 1;
    border: solid 15px rgb(0, 255, 136);
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset 0 0 10px rgba(0, 255, 136, .75), inset 0 0 100px rgba(0, 189, 101, .25), 0 0 10px rgba(0, 189, 101, .75);
}

#rebuild-portal { transform: translate(1200px, 1125px); }
#portal.rebuilt {
    position: static;
    transform: none;
}
#rebuild-portal.rebuilt {
    position: static;
    transform: none;
}

#rebuild-portal-2 { transform: translate(-625px, 300px); }
#rebuild-portal-3 { transform: translate(-625px, 0px); }

#portals.rebuilt {
    position: absolute;
    transform: translate(13px, 550px);
    padding-bottom: 15px;
    gap: 1030px;
}

#rebuild-portal:active, #rebuild-portal-2:active, #rebuild-portal-3:active {
    box-shadow: inset 0 0 10px rgba(0, 255, 136, .75), inset 0 0 100px rgba(0, 189, 101, .5), 0 0 10px rgba(0, 189, 101, .75);
}

#rebuild-area {
    width: 1000px;
}

#rebuild-milestones {
  height: 400px;
}

#rebuild-milestones-info {
    position: absolute;
    top: 2.5%;
}

#rebuild-milestones-container {
    position: absolute;
    height: 55%;
    top: unset;
}

/* #rebuild-milestones-container:last-child {
    border-bottom: none !important;
    background-color: red;
} */

#rebuild-milestones-container::-webkit-scrollbar {
    border-left: 2px solid rgb(0, 140, 255);
}

#rebuild-milestones-container::-webkit-scrollbar-thumb {
    background-color: rgb(0, 140, 255);
}

#rebuild-rank-button-text {
    color: rgb(0, 63, 134);
}

#rebuild-rank-button {
    border-color: rgb(0, 119, 255);
    bottom: 5%;
    top: unset;
}

#rebuild-rank-button:hover {
    background-color: rgb(0, 12, 25);
}

#rebuild-rank-button:active  #rebuild-rank-button-text:not(.layer-button-text-cannot) {
    color: rgb(0, 119, 255) !important;
}

#cm-10 {
    border-color: rgb(114, 114, 114);
}

#cm-10:hover {
    background-color: rgb(25, 25, 25);
}

#cmr-10 {
    color: rgb(114, 114, 114);
}

#cmi-10 {
    color: rgb(70, 70, 70);
}

#white-hole-area {
    transform: translate(685px);
}

#white-holes-div {
    position: relative;
}

#white-hole-info {
    position: static;
    font-size: .9em;
}

#white-hole-button:active  #white-hole-button-text:not(.layer-button-text-cannot) {
    color: rgb(255, 255, 255) !important;
    -webkit-text-fill-color: white;
}