.mini-cube {
    pointer-events: none;
    position: absolute;
    background-color: rgb(var(--mc-color));
    width: 10px;
    aspect-ratio: 1 / 1;
    transition: all 1s;
    transition-property: opacity;
    transition-delay: .5s;
}

.mini-cube.mini-cube-1 {
    --mc-color: 200, 200, 200;
}

.mini-cube.mini-cube-2 {
    --mc-color: 150, 255, 150;
}

.mini-cube.mini-cube-3 {
    --mc-color: 255, 255, 150;
}

.mini-cube.mini-cube-4 {
    --mc-color: 255, 200, 150;
}

.mini-cube.mini-cube-5 {
    --mc-color: 255, 150, 150;
}