:root {
    --white-color: #ffffff;
    --dark-color: #d1d1d1;
    --dark-color-2: #bebebe;
    --darker-color: #868686;
    --darker-color-2: rgb(40, 40, 40);
    --darkerer-color: rgb(25, 25, 25);

    --cube-color: rgb(0, 0, 0);
    --mc-color: 255, 0, 0;
}